<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Maven_Test" parallel="tests" thread-count="1">
    <test name="interfaceDemo">
        <classes>
            <class name="com.demo.test.testcase.InterfaceCase">
            </class>

        </classes>
    </test>
    <test name="selDemo">
        <classes>
            <class name="com.demo.test.testcase.SelCase">
                <methods>
                    <include name="loginSuccess"></include>
                    <include name="loginFalse"></include>
                    <include name="fail"></include>
                </methods>
            </class>
        </classes>
    </test>

    <listeners>
        <listener class-name="com.demo.util.extentx.ExtentTestNGITestListener"></listener>
    </listeners>
</suite>